<footer>
    <br>
    <div class="validator">
    <a href = " https://github.com/SunOfGad" > Github</a>
            |
            <a href = "https://github.com/SunOfGad/SunOfGad.github.io"> Github Pages</a> 
            |
            <a href = "https://www.freecodecamp.org/fcc69d84efc-8d7a-4201-a60d-85bc64681a4f" > Freecodecamp </a> 
            |
             <a href = "https://www.linkedin.com/learning/?u=76141674" class="active" > LinkedIn Learning</a> 
            |
            <a href = "https://www.codecademy.com/profiles/aakyaw00" > Codecademy </a>
    </div>

    <br>
         
    <div class="brand"> <em>Page Built by APPSTI </em> 
    <p><em>Private Soccer Training at Its Finest</em></p>
    </div>

    
                <a href="http://validator.w3.org/check?uri=referer" id = "link_html">
                    <img src="images/valid_html5.gif" width="88" height="31" alt="Validate html5" >
                </a>
            
                <a href="https://jigsaw.w3.org/css-validator/check/referer" id = "link_css">
                    <img src="images/button_validation_css.png" width="88" height="31" alt="css validator" >
                </a>
                <script>
                    document.getElementById("link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
                    document.getElementById("link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
            </script> 
    <br>
</footer>
