<footer>
    <br>
    <div class="validator">
    <a href = " https://github.com/SunOfGad" > Github</a>
            |
            <a href = "https://github.com/SunOfGad/SunOfGad.github.io"> Github Pages</a> 
            |
            <a href = "https://www.freecodecamp.org/fcc69d84efc-8d7a-4201-a60d-85bc64681a4f" > Freecodecamp </a> 
            |
             <a href = "https://www.linkedin.com/learning/?u=76141674" class="active" > LinkedIn Learning</a> 
            |
            <a href = "https://www.codecademy.com/profiles/aakyaw00" > Codecademy </a>
    </div>

    <br>
         
    <div class="brand"> <em>Page Built by APPSTI </em> 
    <p><em>Private Soccer Training at Its Finest</em></p>
    </div>
                    <a href="http://validator.w3.org/check?uri=referer" style = "text-decoration: none">
                        
                    <img src= "images/valid_html5.gif" alt = "valid html 5" height = "31" width = "88" style = "border: 0px;">
                    </a>
                    
                    <a href="http://jigsaw.w3.org/css-validator/check/referer" style = "text-decoration: none">
                    <img src="images/button_validation_css.png" alt = "css validator" height = "31" width = "88" style = "border: 0px;">
                    </a> 
    <br>
</footer>
