<header>
    <h1> WEB250 | Augustine Akyaw's Achy Antelope </h1>
<nav>
    <ul>
        <li><a href="index.html" target="_blank"> Home </a></li>
        <li><a href="https://sunofgad.github.io/web250/MyBrand.html" target="_blank"> Brand</a></li>
        <li><a href="contract.html" target="_blank" > Contract </a></li>
        <li><a href ="https://sunofgad.github.io/coursepages.html" class="active" target ="_blank"> Course Pages</a> </li>
        <li><a href="introduction.html" target="_blank"> Introduction </a></li>
    </ul>
</nav>
</header>