body {
    color: black;
    background-color: lightseagreen;
    font-family: Tahoma;
    margin: 2rem 2rem 100px;
    padding: 0px;
    display: list-item;
}

h2 {
  text-align: center;
}

html {
  display:block;
}

header {
    text-align: center;
}

  footer.navbar {
    overflow: hidden;
    bottom: 0%;
    width: 100%;
    margin: 0;
    padding: 10px;
  }

li {
    display: inline-block;
}

li a {
    display : block;
    color : white;
    padding: 0rem;
    text-decoration: none;
    border-right: 2px solid #bbb;  
}

li a:hover {
    background-color : yellow;
}
  
footer.navbar a {
    float: center;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  footer.navbar a:hover {
    background-color: #ddd;
    color: orchid;
  }
  
  footer.navbar a.active {
    background-color: teal;
    color: white;
  }
  
p {
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

nav {
  border-bottom: 1.5px solid grey;
}

.container{
 text-align: center;
}


/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem; 
    text-align: center;           
  } */

 