body {
    
    color: silver;
    background-color: rgb(90, 134, 134);
    font-family: Tahoma;
    margin-left: 200px;
    margin-right: 200px;
}

header {
    text-align: center;
    background: whitesmoke;
    content: '';
    display: table;
    clear: both;
}

footer {
    text-align: center;
    display: inline-block;
    margin-top: 2%;
}
p.main {
    text-align: left;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

nav {
    float: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}


