body {
    
    color: silver;
    background-color: teal;
    font-family: Tahoma;
    margin-left: 200px;
    margin-right: 200px;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}
p.main {
    text-align: left;
}
